Program: 1 WAP that reads and prints a message if it is  positive

In [ ]:
#Program using if statement for positive number

num  = int(input("Enter a number: "))
if(num >= 0):
  print(num, "is a positive number")

Enter a number: -96

In [ ]:
ge

Write a program to read luggage weight and charge the tax 4000 rupees if it exceeds 35kg. Display 4000 rupees will be extra

In [ ]:
#Program to get luggage wt and print extra charge if it exceeds 35kg
wt = float(input("Please enter luggage weight in Kg: "))
if(wt>35):
  print("Rs 4000 will be extra")

Please enter luggage weight in Kg: 35

Program3: Write a program to find the given number is even or odd. Take input from the user

In [ ]:
# Even or odd
n = int(input("Entar a number: "))
if(n%2==0):
  print("number is even")
else:
  print("number is odd")

Entar a number: 5
number is odd

Program 4: Write a program to find greatest between two numbers

In [ ]:
n1 = int(input("Enter first number: "))
n2 = int(input("Enter second number: "))
l = [n1,n2]
max_nums = max(l)
print("Greatest among the two numbers is :", max_nums)

Enter first number: 5
Enter second number: 6
Greatest among the two numbers is : 6

Test if given string is palindrome or not

In [ ]:
s = input("Enter a string: ")
l_s =list(s)
if (l_s[::-1]== l_s):
  print("Palindrome")
else:
  print("not palindrome")

Enter a string: klljkh
not palindrome

In [ ]:
print("parvathy"[::-1])

yhtavrap

write a program with a 4 digit number is palinsdrome or not

In [ ]:
n =

Problem 6: If the cost price of an item is input through the jey board, write  a program to determine whether the seller has made a profit or incurred the loss.Also determine how uch profit he incurreed

In [ ]:
cost_price = float(input("Enter cost price:"))
selling_price = float(input("Enter selling price:"))
if selling_price<cost_price:
  print("Loss")
else:
  profit = (selling_price - cost_price)/cost_price
  print("Profit is:",profit,"%")

Enter cost price:50
Enter selling price:75
Profit is: 0.5 %

Problem 7: Write a program to prompt for a score 0.0 to 1. If the score isout of range print wrong input. If the score is >0.9 it is 'A'.
if 0.8 to 0.9, it is grade 'B'
if 0.7 to 0.8 grade 'C'
if 0.6 to 0.7 it is grade 'D'
if less than 0.6 grade id 'E'

In [ ]:
score = float(input("Please enter score from 0.0 to 1: "))
if (score < 0 or score > 1):
  print("Score is out of range")
elif (score >=0.9):
  print("Grade A")
elif score>=0.8 :
  print("Grade B")
elif score>=0.7:
  print("Grade C")
elif score>=0.6:
  print("Grade D")
else:
  print("Grade E")

Please enter score from 0.0 to 1: 0.3
Grade E

Write a program to display the cost each type of fruit:
orange - 60
apple - 200
banana - 50
cherries - 300
other than these out of stock

In [ ]:
fruits = {'orange':60,'apple':200,'banana':50,'chrries':300}
for key in fruits.keys():
     print(key)
fruit = input("Enter the name of fruit: ")
if fruit in fruits.keys():
  print("Price of ",fruit,"is",fruits[fruit], "rupees per kilogram")
else:
  print("Sorry! We are out of stock")

orange
apple
banana
chrries
Enter the name of fruit: orange
Price of  orange is 60 rupees per kilogram

problem : write a program to check whether the entered character is lowercase or upper case or special symbols

In [ ]:
letter = input("Enter a character: ")
if letter.isupper():
  print(letter,"Is an uppercase alphabet")
elif letter.islower():
  print(letter,"Is a lowercase alphabet")
elif letter.isdigit():
  print(letter,"is a digit")
else:
  print(letter, "is special character")

Enter a character: Lokdfafd
Lokdfafd is special character

Program for quadratic equation.
a,b,c co:efficients from user.
Calculate roots

dis > 0 #roots are real
dis == 0 # roots are

wap to check if the given year or not

In [ ]:
year  = int(input("Enter the year: "))
if year%4 ==0:
  if year%100 ==0:
    if year%400 ==0:
      print(year,"is leap year")
    else :
      print(year,"is not a leap year")
  else :
      print(year,"is a leap year")

else:
  print(year,"is not a leap year")

Enter the year: 1996
1996 is a leap year

Program 15: Gregorian calander: 01/01/1900 is Monday:

input is my year , find out the day of 1st January.
testcase 1: 2021

*  output: Friday
*  testcase 2: 1999
* output: Friday
* testcase 3: 1990
* output: Monday

In [ ]:
year = int(input("Enter year: "))

problem 16: find the number of days in a month. 
ex: 1,2,3....12. 
if the input is 2 , you ask him which year it u mean.

In [ ]:
def isLeap(year):
  if year%4 ==0:
      if year%100 ==0:
          if year%400 ==0:
              print(year,"is leap year")
              return 1
          else :
              print(year,"is not a leap year")
              return 0
      else :
          print(year,"is a leap year")
          return 1
  else:
     print(year,"is not a leap year")
     return 0
month = int(input("Enter the month: "))
if month == 9 or month == 4 or month == 6 or month == 11:
  print("Number of days is 30")
elif month ==2:
  year = int(input("Enter the year: "))
  if isLeap(year):
    print("number of days is 29")
  else:
    print("number of days is 28")

else:
  print("number of days is 30")

Enter the month: 2
Enter the year: 1996
1996 is a leap year
number of days is 29

1.Write a python program to swap two numbers

In [ ]:
# Program to swap 2 numbers
num1 = float(input("Enter first number: "))
print("num1 = ",num1)
num2 = float(input("Enter second number: "))
print("num2 = ",num2)
num1 = num1 + num2
num2 = num1 - num2
num1 = num1 - num2
print("Numbers after swapping --> num1 = ", str(num1) + ", num2 = ",str(num2))

Enter first number: 5
num1 =  5.0
Enter second number: 10
num2 =  10.0
Numbers after swapping --> num1 =  10.0, num2 =  5.0

2.Write a python program to swap two arrays.

In [ ]:
# Program to swap 2 arrays
n1 = int(input("Enter number of elements of first array: "))
arr1 = list(map(str,input("Enter elements of first array seperated by space: ").strip().split()))[:n1]
print("arr1 is: ",arr1)
n2 = int(input("Enter number of elements of second array: "))
arr2 = list(map(str,input("Enter elements of second array seperated by space: ").strip().split()))[:n2]
print("arr2 is: ",arr2)
arr1 = arr1 + arr2
arr2 = arr1[:n1]
arr1 = arr1[n1:]
print("Arrays after swapping")
print("arr1 = ",arr1)
print("arr2 = ",arr2)

Enter number of elements of first array: 3
Enter elements of first array seperated by space: apple orange grape
arr1 is:  ['apple', 'orange', 'grape']
Enter number of elements of second array: 4
Enter elements of second array seperated by space: blue green yellow
arr2 is:  ['blue', 'green', 'yellow']
Arrays after swapping
arr1 =  ['blue', 'green', 'yellow']
arr2 =  ['apple', 'orange', 'grape']

3.Write a python program to concatenate two strings

In [ ]:
# Program to concatenate 2 strings
string1 = input("Enter first string: ")
string2 = input("Enter second string: ")
print("After concatenation: ", string1 + string2)

Enter first string: Hello
Enter second string: World!
After concatenation:  HelloWorld!

4.Write a python program to find the Largest Two Numbers in a given Array

In [ ]:
# Program to find largest 2 numbers in agiven array
n = int(input("Enter number of elements of array: "))
arr = list(map(float,input("Enter elements of array seperated by space: ").strip().split()))[:n]
print("Given array is: ",arr)
arr.sort(reverse = True)
print("Largest two numbers in the array are: ",str(arr[0]) + " and",str(arr[1]))

Enter number of elements of array: 5
Enter elements of array seperated by space: 1 2 3 4 53
Given array is:  [1.0, 2.0, 3.0, 4.0, 53.0]
Largest two numbers in the array are:  53.0 and 4.0

5. Create a linked list.
*   Add 1,2,3,4
*   Add 0 at the beginning
*   Add 5 between 2 and 3
*   Delete 4.
*   Delete 2nd element
*   Add 6 at the end
*   Delete first node

In [ ]:
# Program for Linked list : creation, addition of elements, deletion
class Node:
  def __init__(self,data):
    self.data = data
    self.next = None

class Linkedlist:
  def __init__(self):
    self.head = None

  def push(self,new_data):
    new_node = Node(new_data)
    new_node.next = self.head
    self.head = new_node

  def deleteNode(self, key):
        
    # Store head node
    temp = self.head

    # If head node itself holds the key to be deleted
    if (temp is not None):
      if (temp.data == key):
        self.head = temp.next
        temp = None
        return

    # Search for the key to be deleted, keep track of the
    # previous node as we need to change 'prev.next'
    while(temp is not None):
      if temp.data == key:
        break
      prev = temp
      temp = temp.next

    # if key was not present in linked list
    if(temp == None):
      return

    # Unlink the node from linked list
    prev.next = temp.next

    temp = None

  def insertAfter(self, prev_node, new_data):
    if prev_node is None:
      print("The given node is None, it should be a valid node")
      return
    new_node = Node(new_data)
    new_node.next = prev_node.next
    prev_node.next = new_node
  
      # This function is defined in Linked List class
    # Appends a new node at the end. This method is
    # defined inside LinkedList class shown above */
  def append(self, new_data):
    
    # 1. Create a new node
    # 2. Put in the data
    # 3. Set next as None
    new_node = Node(new_data)

    # 4. If the Linked List is empty, then make the
    # new node as head
    if self.head is None:
      self.head = new_node
      return

    # 5. Else traverse till the last node
    last = self.head
    while (last.next):
      last = last.next

    # 6. Change the next of last node
    last.next = new_node
      
  def printlist(self):
    temp = self.head
    while(temp):
      print(temp.data)
      temp = temp.next
  
if __name__ == "__main__":
  llist = Linkedlist()
  llist.push(1)
  llist.push(2)
  llist.push(3)
  llist.push(4)
  #llist.insertAfter(llist.head.next, 8)
  print("Linked list created....")
  print("Added 1,2,3,4 to the linked list....")
  print("Created Linked List is: ")
  llist.printlist()
  llist.push(0)
  print("Added 0 at the beginning....")
  llist.printlist()
  llist.insertAfter(llist.head.next.next,5)
  print("Added  5 between 2 and 3 ....")
  llist.printlist()
  llist.deleteNode(4)
  print("Deleted 4 ....")
  llist.printlist()
  llist.append(6)
  print("Added 6 at the end....")
  llist.printlist()
  llist.deleteNode(llist.head.data)
  print("Deleted first node ....")
  llist.printlist()

Linked list created....
Added 1,2,3,4 to the linked list....
Created Linked List is:
4
3
2
1
Added 0 at the beginning....
0
4
3
2
1
Added  5 between 2 and 3 ....
0
4
3
5
2
1
Deleted 4 ....
0
3
5
2
1
Added 6 at the end....
0
3
5
2
1
6
Deleted first node ....
3
5
2
1
6

In [ ]:
person1 = {'name':'Ajay','age':22,'male':True,'height':5.4}
print(person1['age'])

22

Replace each element in the list with its square

In [ ]:
for i in range(len(L)):
  L[i] = L[i]**2
print(L)

[625, 9409, 900, 8649, 4900, 9025, 2304, 361, 8649, 9216, 8100, 1225, 1156, 3364, 1156, 1, 6400, 729, 196, 1156, 6400, 1849, 81, 324, 576, 5625, 9, 256, 1764, 1296, 784, 4, 3844, 6084, 576, 2025, 2601, 8281, 5776, 576, 121, 9409, 3969, 441, 1764, 16, 9409, 484, 729, 25]

In [ ]:
from random import randint
L = []
for i in range(50):
  L.append(randint(1,100))
print(L)

[94, 45, 17, 15, 1, 73, 1, 5, 81, 28, 94, 47, 89, 89, 65, 30, 21, 58, 80, 5, 96, 25, 64, 84, 50, 84, 4, 60, 4, 22, 41, 15, 12, 45, 43, 67, 73, 78, 6, 5, 14, 2, 59, 49, 39, 20, 45, 35, 53, 59]

Count how many items in the list L are greater than 50

In [ ]:
count = 0
for i in L:
  if i>50:
    count = count + 1
print(count)

20

# mean = sum of items /number of items

#variance = [sigma((x-xbar))**2]/ number of items

# std dev, sd = sqrt(variance)

In [ ]:
list_numbers = [-4,-3,-2,-1,0,1,2,3,4]
var = 0
mean = sum(list_numbers)/len(list_numbers)
for i in list_numbers:
  var = var + (i - mean)**2
var = var/len(list_numbers)
print("Mean = ",mean)
print(var)
sd = var**0.5
print(sd)

Mean =  0.0
6.666666666666667
2.581988897471611

#Assignment - median value of a list

In [ ]:
list1 = list(map(float,(input("Enter elements of the list, seperated by a space: ").strip().split())))
list1.sort()
print(list1)
m1 = list1[(len(list1) - 1)//2]
m2 = list1[len(list1)//2]
median = (m1 + m2)/2
print("Meadian = ",median)

Enter elements of the list, seperated by a space: 5 1 8 3 6
[1.0, 3.0, 5.0, 6.0, 8.0]
Meadian =  5.0

,#List elements in ascending and descending order,,,

In [ ]:
l = [1,6,2,3,99,5,-9,7,3,45,3,26]

l.sort()
ascending = l
descending = l[::-1]
print("Ascending: ",ascending)
print("Descending: ",descending)

Ascending:  [-9, 1, 2, 3, 3, 3, 5, 6, 7, 26, 45, 99]
Descending:  [99, 45, 26, 7, 6, 5, 3, 3, 3, 2, 1, -9]

In [ ]:
l1 = [1,1,2,4,5,6,6,3] #print True since duplicate is there
l2 = [1,2,3,4,5,6] #print False since there is no duplicate

#iterate through the list
#condition whether present in other list
# membership operator (not in, in)
temp1 = []
l = l2
count = 0
for i in l:
  if i not in temp1:
    temp1.append(i)
    count = count + 1
  else:
    print("True")
    break
  if count == len(l):
    print("False")

False

Print prime numbers from a list

In [ ]:
l3 = [1,3,5,7,9,6,5,12,25,23]
primes = []

[1, 3, 5, 7, 9, 6, 5, 12, 25, 23]

In [ ]:
#matrix addition

matrix_1 = [[1,2,3],
            [4,5,6],
            [7,8,9]]
matrix_2 = [[1,2,3],
            [4,5,6],
            [7,8,9]]
matrix_result = []
for rows in range(len(matrix_1)):
  for cols in range(len(matrix_2[0])-1):
    matrix_result [rows][cols] = matrix_1[rows][cols]+matrix_1[rows][cols]
print(matrix_result)

IndexError: ignored

In [ ]:
#reverse list without using reverse.
l = [1,2,3]
rev_l = []
for item in range(len(l),0,-1):
  rev_l.append(item)
print(rev_l)

[3, 2, 1]

1)Transpose of a matrix

In [ ]:
#Program to find transpose of a matrix
rows = int(input("Enter the number of rows: ")) 
cols = int(input("Enter the number of columns: ")) 

matrix = [] 
print("Enter the elements of row:") 
# For user input 
for i in range(rows):
  a =[] 
  for j in range(cols):
    a.append(int(input())) 
  matrix.append(a)

# For printing the matrix
print("Input matrix is: ")
for i in range(rows): 
  for j in range(cols):
    print(matrix[i][j], end = " ")
  print() 

#transpose of matrix
print('Transpose matrix: ')
transpose = map(list, zip(*matrix))
for t in transpose:
  print(t)

Enter the number of rows: 2
Enter the number of columns: 3
Enter the elements of row:
1
2
3
4
5
6
Input matrix is:
1 2 3
4 5 6
Transpose matrix:
[1, 4]
[2, 5]
[3, 6]

2)Armstrong number

In [ ]:
#Program to check if a number is Armstrong number or not

def isArmstrong (n):
  l = len(n)
  s = 0
  for i in range(l):
    a = int(n[i])
    s += a**l
  if s==int(n):
    print(n,"is an Armstrong number")
  else:
    print(n,"is not Armstrong number")
n = input("Enter number: ")
isArmstrong(n)

Enter number: 8208
8208 is an Armstrong number

3)Fibonacci

In [ ]:
# Program to print Fibonacci series upto n
def fibonacci(n):
    if n<=0:
        print("Number less than or equal to 0")
    elif n==1:
        return 0
    elif n==2:
        return 1
    else:
        return (fibonacci(n-1)+fibonacci(n-2))
n = int(input("Enter the number: "))
for i in range(1,n+1):
  print(fibonacci(i),end =' ')

Enter the number: 10
0 1 1 2 3 5 8 13 21 34

4) Median of a list

In [ ]:
#Program to find median value of a list
list1 = list(map(float,(input("Enter elements of the list, seperated by a space: ").strip().split())))
list1.sort()
print(list1)
m1 = list1[(len(list1) - 1)//2]
m2 = list1[len(list1)//2]
median = (m1 + m2)/2
print("Median = ",median)

Enter elements of the list, seperated by a space: 1 2 3 4 5 6
[1.0, 2.0, 3.0, 4.0, 5.0, 6.0]
Median =  3.5

1. Write a python program to check whether a 4 digit number is palindrome or not.

In [ ]:
#Program to find if the given 4 digit number is palindrome or not
s = list(input("Enter 4 digit number: "))[:4]
if (s[::-1]== s):
  print("Palindrome")
else:
  print("not palindrome")

Enter 4 digit number: 4554
Palindrome

2. Write a python program to check whether a character is upper case, digit,lower case or special.

In [ ]:
#Program to check whether a character is upper case, digit,lower case or special character.
letter = input("Enter a character: ")[:1]
if letter.isupper():
  print(letter,"Is an uppercase alphabet")
elif letter.islower():
  print(letter,"Is a lowercase alphabet")
elif letter.isdigit():
  print(letter,"is a digit")
else:
  print(letter, "is special character")

Enter a character: ,
, is special character


3. Write a python program to find the roots of a quadratic equation. Take a,b,c as input.

In [ ]:
#Program to find the roots of a quadratic equation given by ax^2 + bx + c = 0 ; a!= 0
import cmath
a = int(input("Enter a: "))
b = int(input("Enter b: "))
c = int(input("Enter c: "))

# find discriminant
d = (b**2) - (4*a*c)

# find roots
root1 = (-b-cmath.sqrt(d))/(2*a)
root2 = (-b+cmath.sqrt(d))/(2*a)
if d ==0:
  print("Roots are same, and the root is :", root1)
else:
   print("Root 1 is: ", root1)
   print("Root 2 is: ", root2)

Enter a: 4
Enter b: 5
Enter c: 6
Root 1 is:  (-0.625-1.0532687216470449j)
Root 2 is:  (-0.625+1.0532687216470449j)

4. Write a program to find the day of first January of given year, If in Gregorian calander, 01/01/1900 is Monday:

Input is year , find out the day of 1st January. 

* testcase 1: 2021
  output: Friday
* testcase 2: 1999
  output: Friday
* testcase 3: 1990
  output: Monday

In [ ]:
#Program to find out the day of 1st January

# import datetime library 
import datetime 

year = int(input("Enter a year: "))
day = datetime.datetime(year, 1, 1) 
print("Jan 1  of year ", year, " is ", day.strftime("%A"))

Enter a year: 1999
Jan 1  of year  1999  is  Friday

1. Write a program to find the hypotenuse of a right angled triangle

In [ ]:
"""Program to find hypotenuse of a right angled triangle
Formula is given buy, hypotenuse = square root of(altitude**2 + base**2)"""

from math import sqrt
a = float(input("Enter value of altitude: "))
b = float(input("Enter value of altitude: "))
h = sqrt(a**2 + b**2)
print("Hypotnuse is: ",h)

Enter value of altitude: 5
Enter value of altitude: 2
Hypotnuse is:  5.385164807134504

2.Write a program to find compound interest

In [ ]:
"""Program to find compound interest
Formula is given by, A = P(1 + r)**t
A	=	final amount
P	=	initial principal balance
r	=	interest rate
t	=	time period """

principle = float(input("Enter principle amount: "))
rate = float(input("Enter interest rate percentage: "))
time = float(input("Enter number of years: "))
amt = principle * ((1 + rate/100)**time)
print("Final amount is: ", amt)
print("Interest amount is: ", amt - principle)

Enter principle amount: 5000
Enter interest rate percentage: 8
Enter number of years: 5
Final amount is:  7346.640384000003
Interest amount is:  2346.640384000003

3. Write a program to find the minimum number of notes if amount is given. denomination of notes, are 100,50,20,10,5,2,1

In [ ]:
#Program to find minimum number of notes given an amount
amt = int(input("Enter the amount: "))
notes = [100,50,20,10,5,2,1]
count = 0
for i in notes:
  count += amt//i
  amt = amt % i
print("Minimum number of notes required is: ",count)

Enter the amount: 255
Minimum number of notes required is:  4

4.Write a program to find the differnce between ASCII lowercase and its corresponding lowercase

In [ ]:
#Program to get difference between ASCII values of lowercase and uppercase letter
letter_lower = input("Enter a lowercase letter: ")
ascii_lower = ord(letter_lower)
ascii_diff = ord('a') - ord('A')
ascii_upper = ascii_lower - ascii_diff
print("Differnce in ASCII value of a lowercase letter and uppercase letter is:",ascii_diff)
print("Uppercase of letter entered is: ",chr(ascii_upper))

Enter a lowercase letter: t
Differnce in ASCII value of a lowercase letter and uppercase letter is: 32
Uppercase of letter entered is:  T

Write a program that asks the user to enter a date in the format of a month name followed by a day number. The program should print out whether the date is real. For instance, January 32 is not a real date,and neither is February 30. Assume that the user enters the full month name and that themonth name is valid. To validate the day number, use a dictionary that contains the number of days in each month.

In [ ]:
#Valid date
date = []
date = input("Enter date : ").strip().split()
date_dict = {'January': range(1,31),'February':range(1,29),'March':range(1,31),'April':range(1,30),
             'May':range(1,31),'June':range(1,30),'July':range(1,31),'August':30,'September':range(1,30),
             'October':range(1,31),'November':range(1,30),'December':range(1,31)}
month = date[0]
day = int(date[1])
if day in date_dict[month]:
  print('Valid')
else:
  print("Invalid")

Enter date : January 6
Valid

program2: write a function triangular(), that takes an integer n and return the nth triangular number. The nth triangular number is given by the formula n(n+1)/2.

In [ ]:
def triangular(n):
  n_triangular = n * (n+1)/2
  return(n_triangular)
print(triangular(3))

6.0

3)

program3: write a function get_total_bill(), that takes a bill amount and sales tax percentage and return the total bill amount, rounded to two decimal points.

In [ ]:
def get_total_bill(bill_amt,sales_tax_percent):
  total_bill = round((bill_amt * (1 + sales_tax_percent/100)),2)
  print("Total bill amount = ",total_bill)
bill = float(input("Enter bill amount: "))
tax = float(input("Enter sales tax percentage: "))
get_total_bill(bill,tax)

Enter bill amount: 500
Enter sales tax percentage: 23.0036
Total bill amount =  615.02

program4: write a fucntion distance that takes four numbers x1,y1, x2,y2 and returns distance between (x1,y1) and (x2,y2)

In [ ]:
def distance(x1,y1,x2,y2):
  dist_1 = (x1 + y1)**(0.5)
  dist_2 = (x2 + y2)**(0.5)
  return((dist_1,dist_1))
x1 = float(input("enter point x1: "))
y1 = float(input("enter point y1: "))
x2 = float(input("enter point x2: "))
y2 = float(input("enter point y2: "))
print("Diatance 1 = ",distance(x1,y1,x2,y2)[0])
print("Diatance 2 = ",distance(x1,y1,x2,y2)[1])

enter point x1: 1
enter point y1: 2
enter point x2: 3
enter point y2: 4
Diatance 1 =  1.7320508075688772
Diatance 2 =  1.7320508075688772

#Program5) Perfect square: takes an integer and prints squares from 1 to that number. It should not return anything

Program6) Write a function that takes a starting number, ending number and step and adds up all the integers in that range. 
Ex : add_up(2,6,1) result 14 ; pr =

In [ ]:
def add_up(start,end,step):
  sum = 0
  for i in range(start,end,step):
    sum = sum + i
  print(sum)
add_up(1,5,1)

10

Program 7 )Write a python funciony of characters contained in hist(), that takes string value as parameter and generates a frquency of characters contained in it.
ex: hist('parvathy') output: {'p':1,'a':2,'r':1,'v':1,'t':1,'h':1,'y':1

In [ ]:
def hist(input_string):
  freq = {}
  for char in input_string:
    if char not in freq:
      freq[char] = 1
    else:
      freq[char] = freq[char] + 1
  print(freq)
hist('parvathy')

{'p': 1, 'a': 2, 'r': 1, 'v': 1, 't': 1, 'h': 1, 'y': 1}

In [ ]:
def sq_of_nums(n):
   sq = {}
   for i  in range(n+1):
     sq[i] = i**2
   print(sq)
sq_of_nums(3)

{0: 0, 1: 1, 2: 4, 3: 9}

Afunction that takes a list a s an argumnt. calculate number of pos and neg nums from the list and display the count in terms of dictionary
input : = [1,-2,-3,-4,5,6,7]
out ={'pos':4,'neg':3}

In [ ]:
def pos_n_neg(num_list):
  count= {'pos': 0,'neg':0}
  for i in num_list:
    if i > 0:
      count['pos'] = count['pos'] + 1
    else:
       count['neg'] = count['neg'] + 1
  return(count)
print(pos_n_neg([1,2,3,-4,-5,-6]))

{'pos': 3, 'neg': 3}

writea func rand_lower_string() that takea an int and returna random string of that many lowercases letter

ex :rand_lower_string(5)
output : dghty

In [ ]:
from random import choice
def rand_lower_string(n):
  alphabets = 'abcdefghijklmnopqrstuvwxyz'
  for i in range(1,n+1):
    print(choice(alphabets),end='')
rand_lower_string(5)

nlnmr

write a python function that accepts a string and calculate the number of upper case and lower letters

In [ ]:
def upper_n_lower(s):
  count = {'upper':0,'lower':0}
  for i in s:
    if i.isupper():
      count['upper'] = count['upper'] + 1
    else:
      count['lower'] = count['lower'] + 1
  return count
upper_n_lower("ASDFghjk")

{'lower': 4, 'upper': 4}

In [ ]:
from random import choice

def rand_lower_string(n):
  return ''.join(choice('abcdefghijklmnopqrstuvwxyz') for i in range(n))

print(rand_lower_string(6))

hnubux

In [ ]:
str1 = 'parvathy'
str1.replace('y','i')

'parvathy'

write a function simplify_text() that is given a string and converts the string to all lowercase, removes all common punctuation except for hyphens and apostrophes and return the new string

In [ ]:
def simplify_text(s):
  str1 = ''
  for i in s:
    if not i.isalpha() or i=='!'
        str1 = str1 + i
    else:
      s.replace(i,' ')
  return(s)
simplify_text("#asdF-l'")

"#asdF-l'"

In [ ]:
NITUL
def simplify(s):
    str=""
    s=s.lower()
    for i in s:
        if i.isalpha() or i=='!':
            str+=i
    return str
en=input("Enter string :")
print(simplify(en))

write a function to check if a number is perfect number or not
write a python function to check whether a number is perfect number or not.
perfect number : a positve integer that is equal to the sum of its proper positve divisors.
ex: 6 factors :sum(1,2,3) = 6
ex: 28 factors: sum(1,2,4,7,14)=28

In [ ]:
def isPerfect(n):
  s = 0
  for i in range(1,n):
    if n%i == 0:
      s = s + i
  if s == n:
    print("Perfect")
  else:
    print("Not perfect")

isPerfect(8)

Not perfect

func that takes list and rets anew list with unique elements of first list

In [ ]:
def unique(my_list):
  s = []
  for i in my_list:
    if i not in s:
      s.append(i)
  return(s)
unique([1,1,2,3])

[1, 2, 3]

func called integer_length(), that takes a list of integers and returns all thier lengths

Ex: [2,44,532,344,22]
1+2+3+3+2 = 14

In [ ]:
def integer_length(ints):
  length = 0
  for i in ints:
    length = length + len(str(i))
  return(length)
integer_length([2,44,532,344,22])

11

closest(): givena list of integers n, find thing in list closest to n, return smaller one in case of a tie

ex:closest([1,2,11,6,9],4) output: 2

In [ ]:
def closest(in_list,n):
  s = 0
  for i in in_list:
    m = abs(i - n)
    if m < s:
      closest_one = i
    else:
      closest_one = 
  return(closest_one)
closest([1,2,3,11,15,20],19)

UnboundLocalError: ignored

In [ ]:
def closest(l, n):
  d = abs(n - l[0])
  x = 0
  for i in l:
    if d > abs(n - i):
      d = abs(n - i)
      x = i
    elif d == abs(n - i):
      if x > i:
        x = i
    
  return x

print(closest([1, 6, 2, 19, 11], 15))

11

union() that takes 2 lists and return the union of 2 without repetition

In [ ]:
def union(list1,list2):
  un = []
  for i in (list1 + list2):
    if i not in un:
      un.append(i)
  return(un)
union([1,2,3],[3,3,5])

[1, 2, 3, 5]

In [ ]:
#intersection

def intersection(list1,list2):
  inter = []
  for i in list1:
    if i in list2:
      inter.append(i)
  return(inter)

print(intersection([1,2,3,4],[2,4,8,9]))

[2, 4]

program2: write a function triangular(), that takes an integer n and return the nth triangular number. The nth triangular number is given by the formula n(n+1)/2.

In [ ]:
def triangular(n):
  n_triangular = n * (n+1)/2
  return(n_triangular)
print(triangular(3))

6.0

3)

program3: write a function get_total_bill(), that takes a bill amount and sales tax percentage and return the total bill amount, rounded to two decimal points.

In [ ]:
def get_total_bill(bill_amt,sales_tax_percent):
  total_bill = round((bill_amt * (1 + sales_tax_percent/100)),2)
  print("Total bill amount = ",total_bill)
bill = float(input("Enter bill amount: "))
tax = float(input("Enter sales tax percentage: "))
get_total_bill(bill,tax)

Enter bill amount: 500
Enter sales tax percentage: 23.0036
Total bill amount =  615.02

program4: write a fucntion distance that takes four numbers x1,y1, x2,y2 and returns distance between (x1,y1) and (x2,y2)

In [ ]:
def distance(x1,y1,x2,y2):
  dist_1 = (x1 + y1)**(0.5)
  dist_2 = (x2 + y2)**(0.5)
  return((dist_1,dist_1))
x1 = float(input("enter point x1: "))
y1 = float(input("enter point y1: "))
x2 = float(input("enter point x2: "))
y2 = float(input("enter point y2: "))
print("Diatance 1 = ",distance(x1,y1,x2,y2)[0])
print("Diatance 2 = ",distance(x1,y1,x2,y2)[1])

enter point x1: 1
enter point y1: 2
enter point x2: 3
enter point y2: 4
Diatance 1 =  1.7320508075688772
Diatance 2 =  1.7320508075688772

#Program5) Perfect square: takes an integer and prints squares from 1 to that number. It should not return anything

Program6) Write a function that takes a starting number, ending number and step and adds up all the integers in that range. 
Ex : add_up(2,6,1) result 14 ; pr =

In [ ]:
def add_up(start,end,step):
  sum = 0
  for i in range(start,end,step):
    sum = sum + i
  print(sum)
add_up(1,5,1)

10

Program 7 )Write a python funciony of characters contained in hist(), that takes string value as parameter and generates a frquency of characters contained in it.
ex: hist('parvathy') output: {'p':1,'a':2,'r':1,'v':1,'t':1,'h':1,'y':1

In [ ]:
def hist(input_string):
  freq = {}
  for char in input_string:
    if char not in freq:
      freq[char] = 1
    else:
      freq[char] = freq[char] + 1
  print(freq)
hist('parvathy')

{'p': 1, 'a': 2, 'r': 1, 'v': 1, 't': 1, 'h': 1, 'y': 1}

In [ ]:
def sq_of_nums(n):
   sq = {}
   for i  in range(n+1):
     sq[i] = i**2
   print(sq)
sq_of_nums(3)

{0: 0, 1: 1, 2: 4, 3: 9}

Afunction that takes a list a s an argumnt. calculate number of pos and neg nums from the list and display the count in terms of dictionary
input : = [1,-2,-3,-4,5,6,7]
out ={'pos':4,'neg':3}

In [ ]:
def pos_n_neg(num_list):
  count= {'pos': 0,'neg':0}
  for i in num_list:
    if i > 0:
      count['pos'] = count['pos'] + 1
    else:
       count['neg'] = count['neg'] + 1
  return(count)
print(pos_n_neg([1,2,3,-4,-5,-6]))

{'pos': 3, 'neg': 3}

writea func rand_lower_string() that takea an int and returna random string of that many lowercases letter

ex :rand_lower_string(5)
output : dghty

In [ ]:
from random import choice
def rand_lower_string(n):
  alphabets = 'abcdefghijklmnopqrstuvwxyz'
  for i in range(1,n+1):
    print(choice(alphabets),end='')
rand_lower_string(5)

nlnmr

write a python function that accepts a string and calculate the number of upper case and lower letters

In [ ]:
def upper_n_lower(s):
  count = {'upper':0,'lower':0}
  for i in s:
    if i.isupper():
      count['upper'] = count['upper'] + 1
    else:
      count['lower'] = count['lower'] + 1
  return count
upper_n_lower("ASDFghjk")

{'lower': 4, 'upper': 4}

In [ ]:
from random import choice

def rand_lower_string(n):
  return ''.join(choice('abcdefghijklmnopqrstuvwxyz') for i in range(n))

print(rand_lower_string(6))

hnubux

In [ ]:
str1 = 'parvathy'
str1.replace('y','i')

'parvathy'

write a function simplify_text() that is given a string and converts the string to all lowercase, removes all common punctuation except for hyphens and apostrophes and return the new string

In [ ]:
def simplify_text(s):
  str1 = ''
  for i in s:
    if not i.isalpha() or i=='!'
        str1 = str1 + i
    else:
      s.replace(i,' ')
  return(s)
simplify_text("#asdF-l'")

"#asdF-l'"

In [ ]:
NITUL
def simplify(s):
    str=""
    s=s.lower()
    for i in s:
        if i.isalpha() or i=='!':
            str+=i
    return str
en=input("Enter string :")
print(simplify(en))

write a function to check if a number is perfect number or not
write a python function to check whether a number is perfect number or not.
perfect number : a positve integer that is equal to the sum of its proper positve divisors.
ex: 6 factors :sum(1,2,3) = 6
ex: 28 factors: sum(1,2,4,7,14)=28

In [ ]:
def isPerfect(n):
  s = 0
  for i in range(1,n):
    if n%i == 0:
      s = s + i
  if s == n:
    print("Perfect")
  else:
    print("Not perfect")

isPerfect(8)

Not perfect

func that takes list and rets anew list with unique elements of first list

In [ ]:
def unique(my_list):
  s = []
  for i in my_list:
    if i not in s:
      s.append(i)
  return(s)
unique([1,1,2,3])

[1, 2, 3]

func called integer_length(), that takes a list of integers and returns all thier lengths

Ex: [2,44,532,344,22]
1+2+3+3+2 = 14

In [ ]:
def integer_length(ints):
  length = 0
  for i in ints:
    length = length + len(str(i))
  return(length)
integer_length([2,44,532,344,22])

11

closest(): givena list of integers n, find thing in list closest to n, return smaller one in case of a tie

ex:closest([1,2,11,6,9],4) output: 2

In [ ]:
def closest(in_list,n):
  s = 0
  for i in in_list:
    m = abs(i - n)
    if m < s:
      closest_one = i
    else:
      closest_one = 
  return(closest_one)
closest([1,2,3,11,15,20],19)

UnboundLocalError: ignored

In [ ]:
def closest(l, n):
  d = abs(n - l[0])
  x = 0
  for i in l:
    if d > abs(n - i):
      d = abs(n - i)
      x = i
    elif d == abs(n - i):
      if x > i:
        x = i
    
  return x

print(closest([1, 6, 2, 19, 11], 15))

11

union() that takes 2 lists and return the union of 2 without repetition

In [ ]:
def union(list1,list2):
  un = []
  for i in (list1 + list2):
    if i not in un:
      un.append(i)
  return(un)
union([1,2,3],[3,3,5])

[1, 2, 3, 5]

In [ ]:
#intersection

def intersection(list1,list2):
  inter = []
  for i in list1:
    if i in list2:
      inter.append(i)
  return(inter)

print(intersection([1,2,3,4],[2,4,8,9]))

[2, 4]

In [ ]:

    # defining the dictionary 
d = {'A' :[[1, 2, 3, 4, 5, 6, 7, 8, 9],[1],[123]],
    'D' : [7, 8, 9, 6, 4] } 
  
    # using list comprehension 
val = []
val = d['A']
print(len(val))

3

In [ ]:
a = int(input("Enter age: "))
if (a<=17):
    if (a<13) :
        print("child")
    else :
        print("Teen")
else:
    print("Adult")

Enter age: 19
Adult

In [ ]:
yr = int(input("Enter year: "))
if yr%400 == 0:
  print("Leap year")
elif (yr%4 == 0) and (yr%100 != 0):
  print("Leap year")
else:
  print("Not leap year")

Enter year: 2013
Not leap year

Assign 1234.46 to n. Using number formatting, print it in the following formats: (a) 1234.46 (b) 1234.5 (c) 1234 (d) 1234.460 (e) 1.23446e+03 (f) 1e+03 (g) 1,234.

In [ ]:
  n = 1234.46
print(n)
print(f"{n:.1f}")
print(f"{n:.0f}")
print(f"{n:.3f}")
print(f"{n:.5e}")

1234.46
1234.5
1234
1234.460
1.23446e+03

In [ ]:
#Program to check if given number is positive or not
n = float(input("Enter a number: "))
if n >= 0:
  print(n,"is positive")
else:
  print(n,"is negative")

Enter a number: 4
4.0 is positive

In [ ]:
#Take in marks of 5 subjects and display the grade
marks = list(map(float,input("Enter marks of 5 subjects seperated by space:").strip().split()))[:5]
total = sum(marks)
percentage = (total/500)*100
if percentage >=90:
  print("Grade A")
elif percentage >=80:
  print("Grade B")
elif percentage >= 70:
  print("Grade C")
elif percentage >= 60:
  print("Grade D")
elif percentage >= 50:
  print("Grade E")
else:
  print("Grade: F")

Enter marks of 5 subjects seperated by space:45 23 52 26 78
Grade: F

In [ ]:
#Program to print all number in a range divisible by a number
low = int(input("Enter lower range:"))
high = int(input("Enter higher range:"))
num = float(input("Enter the number:"))
my_list = list(range(low,high+1))
for i in my_list:
  if i%num == 0:
    print(i)

Enter lower range:23
Enter higher range:56
Enter the number:5
25
30
35
40
45
50
55

In [ ]:
#Program to print the quotient and remainder
dividend = float(input("Enter dividend: "))
divisor = float(input("Enter divisor: "))
q = dividend//divisor
rem = dividend%divisor
print("Quotient is :", q)
print("Remainder is :", rem)

Enter dividend: 45
Enter divisor: 65
Quotient is : 0.0
Remainder is : 45.0

In [ ]:
#Program to print all combinations of a three digits
d1 = int(input("Enter 1st digit:"))
d2 = int(input("Enter 2nd digit:"))
d3 = int(input("Enter 3rd digit:"))
print(d1,d2,d3)
print(d1,d3,d2)
print(d2,d1,d3)
print(d2,d3,d1)
print(d3,d1,d2)
print(d3,d2,d1)

Enter 1st digit:5
Enter 2nd digit:4
Enter 3rd digit:2
5 4 2
5 2 4
4 5 2
4 2 5
2 5 4
2 4 5

In [ ]:
w =['a','bee','solo','sea','duo','trio']
w.sort()
print(w)

['a', 'bee', 'duo', 'sea', 'solo', 'trio']

In [ ]:
w = [-5,0,3,8,0.1]
w.sort()
print(w)

[-5, 0, 0.1, 3, 8]

In [ ]:
w = [0,'a',3,8,0.1]
w.sort()
print(w)

TypeError: ignored

In [ ]:
w = [7,9]
w.extend(['2nd'])
print(w)

[7, 9, '2nd']

In [ ]:
w = [7,9]
w.append(['2nd'])
print(w)

[7, 9, ['2nd']]

In [ ]:
w = [7,9]
w.append('Hi')
print(w)

[7, 9, 'Hi']

In [ ]:
w = []
w.extend('Hi')
print(w)

['H', 'i']

In [ ]:
names = ['usa','utta','uma','eunice','unix']
for name in names:
  print("Hi",name)

Hi usa
Hi utta
Hi uma
Hi eunice
Hi unix

In [ ]:
names = ['usa','utta','uma','eunice','unix']
count = 0
for name in names:
  count = count + 1
  print(count,name)

1 usa
2 utta
3 uma
4 eunice
5 unix

In [ ]:
x = 9.96
format(x,'.1f')
print(x)

9.96

In [ ]:
n = int(input("Enter a positive number n: "))
if n < 0:
  print(0)
else:
  for i in range(1,13):
    if ((n+i)%13 == 0):
      ans = n+i
      print(ans)
      break
  print("Done")

Enter a positive number n: 35
39
Done

In [ ]:
def string_length(str1):
  count = 0
  for char in str1:
    count += 1
  return count
print(string_length('data structures'))

15

In [ ]:
def sum_list(items):
  sum_numbers = 0
  for x in items:
    sum_numbers += x
  return sum_numbers
print(sum_list([1,-2,9]))

8

In [ ]:
x=4
y=2.2
z = x+y
print(z)

6.2

# New Section
Sample Heading

In [ ]:
print(x*y)
print(x/y)
print(x-y)

8.8
1.8181818181818181
1.7999999999999998

Strings

In [ ]:
str1 = "book"
str2 = 'pen'
print(str1)
print(str2)

book
pen

In [ ]:
len(str1)

4

In [ ]:
str1[3]

'k'

In [ ]:
str1+' ' 'and'+' '+str2

'book and pen'

In [ ]:
str1 * 3

'bookbookbook'

In [ ]:
x='4'
y = '2'
z = x + y
print(z)

42

In [ ]:
str3 ="book and pen"
str4 = "pen"
str3.find(str4)

9

Boolean

In [ ]:
x = 4
y = 2
x==y

False

In [ ]:
x="name"
type(x)

str

Data Type Conversion - Typecasting

In [ ]:
#Implicit typecasting --> python will automatically do it for us
x=4.0
y=2
z=x/y
#in python it ospossible to divide a float by an int
print(z)
type(z)

2.0

float

In [ ]:
#Explicit typecasting -->user defined data typecasting
x=2
y="the godfather:Part"
fav_mov = y+str(x)
print(fav_mov)

the godfather:Part2

Dictionary

In [ ]:
x_dict = {"aby":1,"hari":2,"priya":3}
print(x_dict)

{'aby': 1, 'hari': 2, 'priya': 3}

In [ ]:
del (x_dict["aby"])
print(x_dict)

{'hari': 2, 'priya': 3}

In [ ]:
x_dict["hari"]

2

Tuples --> tuples are immutable , cannot edit unlike dict

In [ ]:
x_tuple = 1,2,3,4,5
y_tuple = ('a','b','c','e')
print(x_tuple)
print(y_tuple)

(1, 2, 3, 4, 5)
('a', 'b', 'c', 'e')

In [ ]:
y_tuple[1]

'b'

Linked List

In [ ]:
class Node:
  def __init__(self,data):
    self.data = data
    self.next = None

class Linkedlist:

  def __init__(self):
    self.head = None

  def printList(self):
      temp = self.head
      while (temp):
        print(temp.data)
        temp = temp.next

if __name__ == "__main__":
  llist = Linkedlist()

  llist.head = Node(100)
  second = Node(200)
  third = Node(30)

  llist.head.next = second;
  second.next = third;
  llist.printList()

100
200
30

 1.  Create an empty class Employee

2. Modify the Employee class to include a .set_name() method that takes a new_name argument, and assigns new_name to the .name attribute of the class.

# Include a set_name method
class Employee:
  
  def set_name(self, new_name):
    self.name = new_name
    
3.Use the set_name() method on emp to set the name to 'Raani James'.

In [ ]:
class Employee:
  def set_name(self, new_name): 
    self.name = new_name
emp = Employee()
emp.set_name("Raani James")
print(emp.name)

Raani James

4. Follow the pattern to add another method - set_salary() - that will set the salary attribute of the class to the parameter new_salary passed to method.
Set the salary of emp to 50000.
Try printing emp.salary before and after calling set_salary().

In [ ]:
class Employee:
  def set_name(self, new_name): 
    self.name = new_name
  def set_salary(self, new_salary): 
    self.salary = new_salary
emp = Employee()
emp.set_name("Raani James")
emp.set_salary(50000)
print(emp.name)
print(emp.salary)

Raani James
50000

5.use assignment (equality sign) to increase the salary attribute of emp by 1500, and print it again.

In [ ]:
emp.salary = emp.salary + 1500
print(emp.salary)

51500

6.Add a method give_raise() to Employee that increases the salary by the amount passed to give_raise() as a parameter.

In [ ]:
class Employee:
  """
  --> Created Employee class
  --> Added method set_name to set employee name
  --> Added method set_salary to set salary
  --> Added method give_raise to raise the salary

  """
  def set_name(self, new_name): 
    self.name = new_name
  def set_salary(self, new_salary): 
    self.salary = new_salary
  def give_raise(self, amount):
    self.salary = self.salary + amount

emp = Employee()
emp.set_name("Raani James")
print(emp.name)
emp.set_salary(50000)
print("Before Raise: ",emp.salary)
emp.give_raise(1500)
print("After Raise: ",emp.salary)

Raani James
Before Raise:  50000
After Raise:  51500

7. Add a method monthly_salary() that returns the value of the .salary attribute divided by 12. Call .monthly_salary() on emp, assign it to mon_sal, and print.

In [ ]:
class Employee:
  """
  --> Created Employee class
  --> Added method set_name to set employee name
  --> Added method set_salary to set salary
  --> Added method give_raise to raise the salary

  """
  def set_name(self, new_name): 
    self.name = new_name
  def set_salary(self, new_salary): 
    self.salary = new_salary
  def give_raise(self, amount):
    self.salary = self.salary + amount
  def monthly_salary(self):
    return self.salary/12

emp = Employee()
emp.set_name("Raani James")
print(emp.name)
emp.set_salary(50000)
print("Before Raise: ",emp.salary)
emp.give_raise(1500)
print("After Raise: ",emp.salary)
mon_sal = emp.monthly_salary()
print(mon_sal)

Raani James
Before Raise:  50000
After Raise:  51500
4291.666666666667

8. write a program to calculate the area of a rectangle by assigning the value to the attributes of a rectangle, i.e length and breadth

In [ ]:
class Rectangle:
  """
  Stores dimension of rectangle and calculate area

  """

  def area(self, len, brdt):
    self.len = len
    self.brrdt = brdt
    return len*brdt

In [ ]:
rect = Rectangle()

In [ ]:
rect.area(10,20)

200

9.write a program to create a class named Circle. Pass the parameter radius to the method named Calc_Area() and calculate the area of the circle.

In [ ]:
class Circle:
  """
  Stores radius of circle and calculate area

  """

  def area(self, rad):
    self.rad = rad
    return 3.14*(self.rad**2)

In [ ]:
circle = Circle()
circle.area(5)

78.5

10. Define the class Employee with a constructor __init__() that:

accepts two arguments, name and salary (with default value0),
creates two attributes, also called name and salary,
sets their values to the corresponding arguments.

In [ ]:
class Employee:
  """
  --> Created Employee class
  --> Added method set_name to set employee name
  --> Added method set_salary to set salary
  --> Added method give_raise to raise the salary
  --> Added method monthly_salary
  --> Added constructor

  """
  def __init__(self,name,salary,amount):
    self.name = name
    self.salary = salary
    self.salary = self.salary + amount
  def set_name(self, new_name): 
    self.name = new_name
  def set_salary(self, new_salary): 
    self.salary = new_salary
  def give_raise(self, amount):
    self.salary = self.salary + amount
  def monthly_salary(self):
    return self.salary/12

emp = Employee("name",1000,100)
emp.set_name("Raani James")
print(emp.name)
emp.set_salary(50000)
print("Before Raise: ",emp.salary)
emp.give_raise(1500)
print("After Raise: ",emp.salary)
mon_sal = emp.monthly_salary()
print(mon_sal)

Raani James
Before Raise:  50000
After Raise:  51500
4291.666666666667

modify __init__. Preprocrssing if salary is negative, print "invalid salry" otherwise it should be actualsalary

In [ ]:
class Employee:
  def __init__(self,name,salary = 0):
    self.name = name
    if salary >= 0:
      self.salary = salary
    else:
      self.salary = 0
      print("Invalid salary")

  def give_raise(self, amount):
    self.salary = self.salary + amount

  def monthly_salary(self):
    return self.salary/12

In [ ]:
emp = Employee("Parvathy",50000)
print(emp.salary)

50000

In [ ]:
emp = Employee("Parvathy",-50000)
print(emp.salary)

Invalid salary
0

11.

Two attributes, x and y - the coordinates of the point on the plane;
A constructor that accepts two arguments, x and y, that initialize the corresponding attributes. These arguments should have default value of 0.0;
A method distance_to_origin() that returns the distance from the point to the origin. The formula for that is .
A method reflect(), that reflects the point with respect to the x- or y-axis:
accepts one argument axis,
if axis="x" , it sets the y (not a typo!) attribute to the negative value of the y attribute,
if axis="y", it sets the x attribute to the negative value of the x attribute,
for any other value of axis, prints an error message. Reflection of a point with respect to y and x axes
Note: You can choose to use sqrt() function from either the numpy or the math package, but whichever package you choose, don't forget to import it before starting the class definition!

In [ ]:
import math
"""
Class Point is created
"""

class Point:
  """
  Constructor
  """
  def __init__(self,x = 0,y = 0):
    self.x = x
    self.y = y
  """
  Calculates the point's distance to origin and returns the distance
  """
  def distance_to_origin(self):
    dist = math.sqrt((self.x**2) + (self.y**2))
    return dist
  
  """
  Reflects the point with respect to give axis
  """
  def reflect(self,axis):
    if axis == 'x':
      self.y = -(self.y)
    elif axis == 'y':
      self.x = - (self.x)
    else:
      print("Argument axis accepts only x or y")

In [ ]:
pt = Point(3,4)
pt.distance_to_origin()

5.0

In [ ]:
pt.reflect('y')
print((pt.x, pt.y))

(-3, 4)

In [ ]:
pt.y = 4.0
print(pt.distance_to_origin())

5.0

Write a class called BankAccount that has the following: 
* A ﬁeld called name that stores the name of the account holder. 
* A ﬁeld called amount that stores the amount of money in the account. 
* A ﬁeld called interest_rate that stores the account’s interest rate (as a percentage). 
* A constructor that just sets the values of the three ﬁelds above. 
* A method called apply_interest() that takes no arguments and applies the interest to the account. It should just modify the amount ﬁeld and not return anything. For instance, if the account has 1000 dollar in it and the interest rate is 3%, then the amount variable should be changed to 1030 dollar (1000 dollar + 3% interest).
----------------------------------------------------

In [ ]:
"""
--->class BankAccount created
--->Added constructor
--->Added method apply_interest

"""
class BankAccount:
  def __init__(self,name = 'name',amount = 0,interest_rate = 0):
    self.name = name
    self.amount = amount
    self.interest_rate = interest_rate

  def apply_interest(self):
    self.amount = self.amount + (self.interest_rate * (self.amount/100))

Then test the class, by creating a new BankAccount object for a user named John who has 1000 dollar at 3% interest. Then do the following: 
* Use the apply_interest() method to apply the interest to the account.
* Print out how much money is now in the account after applying the interest. 
* Change the account’s interest rate to 2%. 
* Use the apply_interest() method to apply the interest to the account again. 
* Print out how much money is now in the account after applying the interest again

In [ ]:
acnt = BankAccount('John',1000,3)
print(acnt.name)
print(acnt.amount)
print(acnt.interest_rate)
acnt.apply_interest()
print(acnt.amount)

acnt.interest_rate = 2
acnt.apply_interest()
print(acnt.amount)

acnt.interest_rate = 2
acnt.apply_interest()
print(acnt.amount)

John
1000
3
1030.0
1050.6
1071.6119999999999

Write a class called RestaurantCheck. It should have the following:
    
    
Fields called check_number, sales_tax_percent, subtotal, table_number, and server_name representing an identiﬁcation for the check, the bill without tax added, the sales tax percentage, the table number, and the name of the server.

* A constructor that sets the values of all four ﬁelds.
* A method called calculate_total that takes no arguments (besides self)and returns the total bill including sales tax.
* A method called print_check that writes to a ﬁle called check###.txt,where### is the check number and writes information about the check to that ﬁle, formatted like below:

In [ ]:
class  RestaurantCheck:
  def __init__(self,check_number=0,sales_tax_percent=0,subtotal = 0,table_number=0,server_name=0):
    self.check_number = check_number
    self.sales_tax_percent = sales_tax_percent
    self.subtotal = subtotal
    self.table_number = table_number
    self.server_name = server_name

  def calculate_total(self):
    total_amount = self.subtotal*(1 + self.sales_tax_percent/100)
    return total_amount

  def print_check(self):
    output_file = open('ckeck' + str(self.check_number) + '.txt',"w")
    print('Check Number:', self.check_number, file=output_file)
    print('Sales tax percent:', self.sales_tax_percent, file=output_file)
    print('Subtotal:', self.subtotal, file=output_file)
    print('Table number:', self.table_number, file=output_file)
    print('Server name:', self.server_name, file=output_file)
    print('Total Amount:', self.calculate_total(), file=output_file)
    output_file.close()

chk = RestaurantCheck(12,6,2000,17,'John')
chk.print_check()

#Class variable

In the Employee class give a global variable min_salary = 30000
    if the salary is > min_salary you put self.salary=self.salary
    else . salary assign with min_salary

In [ ]:
class Employee:
  min_salary = 30000
  def __init__(self,name,salary = 0):
    self.name = name
    if salary >= Employee.min_salary:
      self.salary = salary
    else:
      self.salary = Employee.min_salary

  def give_raise(self, amount):
    self.salary = self.salary + amount

  def monthly_salary(self):
    return self.salary/12

In [ ]:
emp = Employee("Parvathy",-50000)
print(emp.salary)

30000

1_ Sum of n natural numbers

In [ ]:
def sum_nat(n):
  if n == 0:
    return n
  else:
    return n + sum_nat(n-1)
n = eval(input("Enter number: "))
sum_nat(n)

Enter number: 5

15

In [ ]:
def factorial(n):
  if n <= 1:
    return 1
  else:
    return n * factorial(n-1)
n = eval(input("Enter number: "))
factorial(n)

Enter number: 5

120

In [ ]:
def evensum(n):
  if n%2 !=0:
    n = n-1
  if n<2:
     return 0
  else:
     return n + evensum(n-2)

n = eval(input("Enter number: "))
evensum(n)

Enter number: 10

30

In [ ]:
def list_sum(list):

Pandas and Numpy

In [ ]:
import numpy as np
import pandas as pd
data = np.array([[5.8, 2.8], [6.0, 2.2]])
print(data)


dataset = pd.DataFrame({'Column1': data[:, 0], 'Column2': data[:, 1]})
print(dataset)

[[5.8 2.8]
 [6.  2.2]]
   Column1  Column2
0      5.8      2.8
1      6.0      2.2